.body {
    margin: auto;
    
    
    }
    
    .header {
        margin: -10px;
        margin-bottom: 10px;
        background-color: #17597a;
    }
    
    .title{
        padding: 18px;
        font-size: 55px;
        color: lightblue;
        margin-top: -3px;
        margin-bottom: -9px;
      padding-bottom: 25px;
    }
    
    .header ul li {
        list-style: none;
        margin-left: 0px;
        margin-top: -30px;
        margin-right: 200px;
        display: inline-block;
        color: white;
        font-size: 40px;
        padding-top: 10px;
    
    }
    
    .header ul {
        display: flex;
        justify-content: flex-end;
        margin-top: -50px;
        }
    
    .text{
       margin: 30px;
    }
    
    .hero{
    height: 250px;
    background-image:url(https://wallpapers.com/images/hd/cool-photos-background-1920-x-1080-9cnqcjs5o3rb8raa.jpg);
    background-size: cover;
    background-position: center;
    margin: -10px;
        margin-bottom: 18px;
        margin-top: -16px;
    }
    
    .Textbox {
        padding: 20px;
        margin: 10px;
        margin-left: 300px;
        margin-top: 62px;
        position: absolute;
        font-size: 50px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:white;
    }
    
    .about-me-container {
     display: flex;
     justify-content: center;
    
    }
    .about-me-container h1 {
        border-right: 4px solid black;
        padding: 20px;
        margin: 50px;
        width: 200px;
        text-align: center;
        margin-left: -40px;
        font-size: 65px;
        color: darkblue
    }
    
    .about-me-container p {
      color: black;
      margin-top: 50px;
      font-size: 22px;
    }
    
    .Projects-container {
        display: flex;
        justify-content: center;
    }
    
    .Projects-container h1 {
        border-right: 4px solid black;
        padding: 40px;
        margin: 50px;
        width: 200px;
        text-align: center;
        margin-left: -1125px;
        font-size: 65px;
        color: darkblue;
        /* margin-top: -50px; (checking if it stright) */
    }
    
    .Project-stlye {
    border-color: #17597a;
    
    }

    .Contact-Me-Container {
        display: flex;
        justify-content: center;
    }
    
    .Contact-Me-Container h1 {
        border-right: 4px solid black;
        padding: 20px;
        margin: 50px;
        width: 200px;
        text-align: center;
        margin-left: -40px;
        font-size: 65px;
        color: darkblue
    }
    
    .lsit {
        color:blueviolet
    } 
